@import "src/style/mixin";

#nav {
  padding: 50px 0 20px;
  .container {
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--title {
        h1 {
          @include font;
          font-weight: 700;
          font-size: 36px;
          line-height: 48px;

        }
      }

      &--group {
        display: flex;
        align-items: center;

        &__search {
          display: flex;
          align-items: center;
          text-align: center;
          margin: 0 -17px 0 0 ;
          input {
            width: 332px;
            height: 40px;
            border-radius: 4px;
            border: 1px;
            background: #E4E9F2;
          }

          &--ico {
            position: relative;
            top: 1px;
            right: 33px;
            &__icon{
              font-size: 18px;
              color: #8F9BB3;
            }
          }
        }

        &__btn {
          button {
            display: flex;
            align-items: center;
            justify-content: end;
            width: 135px;
            height:  40px;
            border-radius:4px;
            padding: 10px;
            color: white;
            background:#3366FF;
            gap: 10px;

          }

          &--line {

          }
        }
      }
    }
  }
}